<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Editar Producto</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>

<body class="bg-gray-100 h-screen flex justify-center items-center">
    <section class="text-gray-600 body-font">
        <form class="w-full max-w-lg bg-white rounded-lg p-8 flex flex-col mt-10 md:mt-0 relative z-10 shadow-md"
            action="{{url}}/producto/editar/{{producto.id_producto}}" method="POST">
            <input type="hidden" name="_method" value="PUT">

            <h2 class="text-gray-900 text-lg mb-1 font-medium title-font">Editar Producto</h2>

            <!-- Nombre y Precio en la misma fila -->
            <div class="flex space-x-4 mb-4">
                <div class="w-1/2">
                    <label for="nombre" class="leading-7 text-sm text-gray-600">Nombre</label>
                    <input type="text" id="nombre_producto" name="nombre_producto" value="{{producto.nombre_producto}}"
                        class="w-full bg-white rounded border border-gray-300 focus:border-indigo-500 focus:ring-2 focus:ring-indigo-200 text-base outline-none text-gray-700 py-1 px-3 leading-8 transition-colors duration-200 ease-in-out"
                        required>
                </div>
                <div class="w-1/2">
                    <label for="precio" class="leading-7 text-sm text-gray-600">Precio</label>
                    <input type="number" id="precio" name="precio" value="{{producto.precio}}"
                        class="w-full bg-white rounded border border-gray-300 focus:border-indigo-500 focus:ring-2 focus:ring-indigo-200 text-base outline-none text-gray-700 py-1 px-3 leading-8 transition-colors duration-200 ease-in-out"
                        required>
                </div>
            </div>

            <!-- Detalles -->
            <div class="relative mb-4">
                <label for="detalles" class="leading-7 text-sm text-gray-600">Detalles</label>
                <textarea id="detalles" name="detalles"
                    class="w-full bg-white rounded border border-gray-300 focus:border-indigo-500 focus:ring-2 focus:ring-indigo-200 text-base outline-none text-gray-700 py-1 px-3 leading-8 transition-colors duration-200 ease-in-out">{{producto.detalles}}</textarea>
            </div>

            <!-- Categoría y Disponibilidad en la misma fila -->
            <div class="flex space-x-4 mb-4">
                <div class="w-1/2">
                    <label for="categoria" class="leading-7 text-sm text-gray-600">Categoría</label>
                    <select id="categoria" name="categoria"
                        class="w-full bg-white rounded border border-gray-300 focus:border-indigo-500 focus:ring-2 focus:ring-indigo-200 text-base outline-none text-gray-700 py-1 px-3 leading-8 transition-colors duration-200 ease-in-out"
                        required>
                        {{#each categorias}}
                        <option value="{{this.idCategoria}}" {{#ifCond this.idCategoria
                            ../producto.categoria}}selected{{/ifCond}}>
                            {{this.nombre}}
                        </option>
                        {{/each}}
                    </select>
                </div>
                <div class="w-1/2">
                    <label for="disponibilidad" class="leading-7 text-sm text-gray-600">Disponibilidad</label>
                    <select id="disponibilidad" name="disponibilidad"
                        class="w-full bg-white rounded border border-gray-300 focus:border-indigo-500 focus:ring-2 focus:ring-indigo-200 text-base outline-none text-gray-700 py-1 px-3 leading-8 transition-colors duration-200 ease-in-out">
                        <option value="true" {{#if producto.disponibilidad}}selected{{/if}}>Disponible</option>
                        <option value="false" {{#unless producto.disponibilidad}}selected{{/unless}}>No disponible
                        </option>
                    </select>
                </div>
            </div>

            <!-- Oferta y Descuento -->
            <div class="relative mb-4 flex gap-3">
                <!-- Oferta -->
                <div class="flex gap-1 items-center px-4">
                    <input type="checkbox" id="oferta" name="oferta" {{#if producto.oferta}}checked{{/if}} />
                    <span class="leading-7 text-sm text-gray-600">Oferta</span>
                </div>

                <!-- Descuento -->
                <input type="number" id="descuento" name="descuento" value="{{producto.descuento}}"
                    placeholder="Descuento"
                    class="w-full bg-white rounded border border-gray-300 focus:border-indigo-500 focus:ring-2 focus:ring-indigo-200 text-base py-1 px-3 leading-8 transition-colors duration-200 ease-in-out">
            </div>


            <div class="relative flex space-x-4">
                <button type="submit"
                    class="flex-1 text-amber-500 bg-zinc-800 border-0 py-2 px-6 focus:outline-none hover:text-zinc-800 hover:bg-amber-500 rounded text-lg">Guardar</button>
                <button type="button"
                    class="flex-1 text-black bg-amber-500 border-0 py-2 px-6 focus:outline-none hover:bg-zinc-800 hover:text-amber-500 rounded text-lg"
                    onclick="window.location.href='/listarProductos'">Cancelar</button>
            </div>
        </form>
    </section>
</body>

</html>