<html>

<head>
    <title>Productos</title>
</head>

<body>
    {{>navbarAdm}}
    <div class="bg-gray-100 p-6 rounded-lg shadow-lg">
        <div class="flex items-center justify-between mb-4">
            <div>
                <h2 class="text-xl font-semibold text-gray-900">Productos</h2>
            </div>
        </div>
        <div class="overflow-x-auto">
            <table class="min-w-full bg-white border border-gray-200 rounded-lg">
                <thead>
                    <tr class="bg-gray-100 border-b">
                        <th class="text-left px-6 py-3 text-xs font-medium text-gray-500 uppercase tracking-wider">
                            Nombre</th>
                        <th class="text-left px-6 py-3 text-xs font-medium text-gray-500 uppercase tracking-wider">
                            Categoria</th>
                        <th class="text-left px-6 py-3 text-xs font-medium text-gray-500 uppercase tracking-wider">
                            Comercio</th>
                        <th class="text-left px-6 py-3 text-xs font-medium text-gray-500 uppercase tracking-wider">
                            Precio</th>
                        <th class="text-left px-6 py-3 text-xs font-medium text-gray-500 uppercase tracking-wider">
                            Disponibilidad</th>
                        <th class="text-left px-6 py-3 text-xs font-medium text-gray-500 uppercase tracking-wider">
                            Oferta</th>
                        <th class="w-1/6"></th>


                    </tr>
                </thead>
                <tbody class="bg-white divide-y divide-gray-200">
                    {{#each productos}}
                    <tr>
                        <td class="px-6 py-4 whitespace-nowrap text-sm font-medium text-gray-900">
                            {{this.nombre_producto}}</td>
                        {{!-- categoria el nombre --}}
                        <td class="px-6 py-4 whitespace-nowrap text-sm font-medium text-gray-900">
                            {{this.nombreCategoria}}</td>
                        {{!-- comercio --}}
                        <td class="px-6 py-4 whitespace-nowrap text-sm font-medium text-gray-900">
                            {{this.nombreComercio}}</td>
                        <td class="px-6 py-4 whitespace-nowrap text-sm font-medium text-gray-900">{{this.precio}}</td>

                        <td class="px-6 py-4 whitespace-nowrap text-sm font-medium text-gray-900">
                            {{this.disponibilidad}}</td>
                        <td class="px-6 py-4 whitespace-nowrap text-sm font-medium text-gray-900">{{#if
                            oferta}}si{{else}}no{{/if}}</td>

                        {{!-- <td class="px-6 py-4 whitespace-nowrap text-sm font-medium">
                            <div class="flex space-x-2 ml-auto text-left">
                                <!-- Botón Eliminar -->
                                <form action="{{URL}}/eliminarProducto/{{this.idProducto}}?_method=DELETE"
                                    method="POST">
                                    <button type="submit"
                                        class="text-sm bg-red-500 hover:bg-red-700 text-white py-1 px-2 rounded focus:outline-none focus:shadow-outline">
                                        Eliminar
                                    </button>
                                </form>

                                <!-- Botón Editar -->
                                <a href="{{URL}}/editarProducto/{{this.idProducto}}"
                                    class="bg-amber-500 hover:bg-amber-800 text-sm text-black font-medium py-1 px-2 rounded focus:outline-none focus:shadow-outline">
                                    Editar
                                </a>

                            </div>
                        </td> --}}
                        <td class="px-6 py-4 whitespace-nowrap text-right text-sm font-medium">
                            <div class="flex space-x-2 ml-auto text-left">
                                <form action="{{URL}}/eliminarProducto/{{this.idProducto}}?_method=DELETE" method="POST"
                                    class="m-0">
                                    <button type="submit"
                                        class="text-sm bg-red-500 hover:bg-red-700 text-white py-1 px-2 rounded focus:outline-none focus:shadow-outline">
                                        Eliminar
                                    </button>
                                </form>
                                <a href="{{URL}}/editarProducto/{{this.idProducto}}"
                                    class="bg-amber-500 hover:bg-amber-800 text-sm text-black font-medium py-1 px-2 rounded focus:outline-none focus:shadow-outline open-modal">
                                    Editar
                                </a>
                            </div>
                        </td>

                    </tr>
                    {{/each}}
                </tbody>
            </table>
            <ul>
            </ul>

        </div>
    </div>
</body>

</html>