<html>

<head>
    <title>Usuarios</title>
</head>

<body>
    {{>navbarAdm}}
    <div class="bg-gray-100 p-6 rounded-lg shadow-lg">
        <div class="flex items-center justify-between mb-4">
            <div>
                <h2 class="text-xl font-semibold text-gray-900">Usuarios</h2>
            </div>
            <div class="relative group bg-amber-500 text-black font-medium py-2 px-4 rounded-lg hover:bg-amber-600">
                <a href="#">Añadir</a>
                <!-- Submenú -->
                <div class="absolute hidden group-hover:block bg-gray-600 rounded-md mt-1 shadow-lg z-10 left-[-50px]">
                    <a href="{{url}}/registrarUsuario"
                        class="block px-4 py-2 rounded text-sm text-white hover:bg-amber-600">Usuario</a>
                    <a href="{{url}}/registrarAdministrador"
                        class="block px-4 py-2 rounded text-sm text-white hover:bg-amber-600">Administrador</a>
                </div>
            </div>
        </div>
        <div class="overflow-x-auto">
            <table class="min-w-full bg-white border border-gray-200 rounded-lg">
                <thead>
                    <tr class="bg-gray-100 border-b">
                        <th class="text-left px-6 py-3 text-xs font-medium text-gray-500 uppercase tracking-wider">
                            Nombre</th>
                        <th class="text-left px-6 py-3 text-xs font-medium text-gray-500 uppercase tracking-wider">Email
                        </th>
                        <th class="text-left px-6 py-3 text-xs font-medium text-gray-500 uppercase tracking-wider">Rol
                        </th>
                        <th class="px-6 py-3"></th>
                        <th></th>
                    </tr>
                </thead>
                <tbody class="bg-white divide-y divide-gray-200">
                    {{#each usuarios}}
                    <tr>
                        <td class="px-6 py-4 whitespace-nowrap text-sm font-medium text-gray-900">{{this.nombre}}</td>
                        <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">{{this.email}}</td>
                        <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">{{this.rol}}</td>
                        <td class="px-6 py-4 whitespace-nowrap text-right text-sm font-medium">
                            <form action="{{URL}}/eliminarUsuario/{{id_usuario}}?_method=DELETE" method="POST">
                                <button type="submit"
                                    class="text-sm bg-red-500 hover:bg-red-700 text-white py-1 px-2 rounded focus:outline-none focus:shadow-outline">Eliminar</button>
                            </form>
                        </td>
                        <td>
                            <form action="{{url}}/editarUsuario/{{id_usuario}}" method="GET">
                                <button type="submit"
                                    class="text-sm bg-amber-500 hover:bg-amber-800 text-black font-medium py-1 px-2 rounded focus:outline-none focus:shadow-outline">Modificar</button>
                            </form>
                        </td>
                    </tr>
                    {{/each}}
                </tbody>
            </table>
        </div>
    </div>
</body>

</html>